body,html{

background-image: url("../assets/F4.jpg");

background-attachment: fixed;

background-repeat: no-repeat;
background-size: cover;

}

body{

    padding-top: 60px;
}

h1,p{
    color:black;

}

.navbar{
   background-color: transparent;
}

.nav-link{
    color: white;

}
.nav-link:hover{
    color:rgb(135, 135, 253);

}

.card p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
    color:white;

}

.card-img-top{
   
    padding: 10px;
    width: 50vw;
    height: 80vh;

}
.card{
    background-color: transparent;
    border: transparent;
}

.card-content, .card-text{
    padding: 1%;
    color:white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
   .carousel-class{

    visibility: collapse;
    height: 0;

   }
   .carousel-inner{

    height: 0;
   }
   
    .card-img-top{
       
    /*    padding: 10px;
        width: 200px;
        height: 300px;
    */
    visibility: collapse;

    }
    

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}