body {
  background-color: white-smoke;
  height: 90vh;
}
.nav-link {
  color: #b3cde0;
}

.nav-link:hover {
  color: lawngreen !important;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: lawngreen !important;
}
