body,html{

position: relative;

height:100vh;
margin: 0;

background-image: url("../assets/sunset.jpg");

height: 100%;


background-attachment: fixed;

background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

h1,p{
    color:black;

}

#sections-area{
    position: relative; 
    height:100vh;
    overflow-y: scroll;
}

#section1 {padding:10vh;height:100%;color: #fff; }
#section2 {padding:10vh;height:100%;color: #fff; }
#section3 {padding:10vh;height:100%;color: #fff;}

.navbar{
   background-color: transparent;
}

.card{
    background-color: transparent;
}

.card-text{

    color:white;

}

.card-content{
    padding: 1%;
    color:white;
}


