body,html{

    height:100%;
    margin: 0;

    background-image: url("../assets/sunset.jpg");

height: 100%;

background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.navbar{
background-color: transparent;
}

.card{
    background-color: transparent;
}

.card-text{

    color:white;
}